/*************** Fonts Name ***************/


/* font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*************** Typography ***************/

h1,
h2,
h4,
h5,
h6 {
    font-family: 'Lobster', cursive;
}

p {
    font-size: 13px;
}

hr {
    margin: 0% 20% 0% 20%;
}


/*************** Typography End***************/


/*************** Navigation bar ***************/

header {
    height: 33px;
    /* width: 100%;
    position: fixed; */
    position: sticky;
    top: 0;
}

nav {
    background-color: rgb(39 40 40 / 82%);
    height: 33px;
    display: flex;
}

#profile {
    display: inline-block;
    width: 20%;
}

#profile img {
    height: 30px;
    width: 30px;
    margin: 1px 0px 0px 5px;
    border: 2px solid rgb(0, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

#CP {
    display: inline-block;
    width: 60%;
}

#CP ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
}

#CP ul li {
    list-style: none;
    margin: 0px 20px 0px 20px;
    padding: 3px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.685);
    border-radius: 3px;
}

#CP ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#CP ul li:hover {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 3px;
}

#CP ul li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.button {
    width: 20%;
    text-align: right;
}

#talk1 {
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
    margin: 4px 20px 0px 0px;
}

#talk1:hover {
    background-color: rgb(0, 255, 221);
    color: black;
}


/*************** Navigation bar End***************/


/*************** Image Section ***************/

#image {
    background-image: url('../Image/IMG_201903.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

#text h2 {
    color: white;
    font-size: 40px;
}

#talk2 {
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
}

#talk2:hover {
    background-color: white;
    color: black;
}


/*************** Image Section End***************/


/*************** Main ***************/


/*************** Pricing Box ***************/

#pricing {
    height: 600px;
}

#pricing .text,
#services .text,
#contact .text {
    text-align: center;
    height: 70px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00405ee6;
    color: white;
}

.pricing_box {
    height: 80%;
}

.box {
    height: 85%;
    width: 25%;
    border: 1px solid rgba(66, 60, 60, 0.466);
    border-radius: 8px;
    background-color: rgb(0 72 205);
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.842);
}

#box2 {
    background-color: rgba(184, 17, 17, 0.753);
}

#box3 {
    background-color: rgba(255, 0, 234, 0.699);
}

.ammount {
    height: 35%;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box .info {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .info div {
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
}

.info h2 {
    margin-bottom: 5px;
    text-decoration: underline;
}

.info i {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.info span {
    margin-right: 7px;
}

.info button {
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(19, 26, 34);
    border: none;
    border-radius: 10px;
}

.info button:hover {
    background-color: white;
    color: black;
}


/*************** Pricing Box End***************/


/*************** Services ***************/

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.table table {
    border: 1px solid rgba(61, 61, 61, 0.548);
    border-radius: 2px;
    width: 70%;
    height: 60%;
    text-align: center;
}

.table table thead {
    background-color: black;
    color: #fff;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #363636c2;
    color: #fff;
}


/*************** Services End***************/


/*************** Contact ***************/

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    height: 381px;
}

.form div {
    width: 30%;
    height: 200px;
}

.form div ul li {
    list-style: none;
}

.form div ul li i {
    font-size: 30px;
    cursor: pointer;
}

.form div ul li i:hover {
    color: rgb(38, 0, 255);
}

#submit {
    display: inline-block;
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
}

#submit:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


/*************** Contact End***************/


/*************** Main End ***************/


/*************** Footer ***************/

footer {
    background-color: rgba(1, 90, 255, 0.81);
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*************** Footer End ****************/